html{
    background-image: url(img/bg3.jpg);
    background-size: cover;
}
body {
    font-family: "Indie Flower";
    font-size: x-large;
    position: relative;
    background-color: rgba(255,255,255,0);
    padding-bottom:60px;
}
nav {
    font-size: large;
}
.col-md-12 {
    margin-top: 60px;
}
.col-md-12 p{
    margin: 5px;
    background-color: rgba(255,255,255,0.4);
    border: 1px solid white;
    border-radius: 3px 3px 3px 3px;
}
