html{
    background-image: url(img/bg2.jpg);
    background-size: cover;
}
body {
    font-family: "Indie Flower";
    font-size: x-large;
    background-color: rgba(255,255,255,0);
}
.col-md-3.col-sm-3.col-xs-3 {
    margin-top: 90px;
    margin-right: 13px;
    margin-left: 13px;
    margin-bottom: 20px;
    background-color: rgba(255,255,255,0.4);
    color: black;
    border: 2px solid whitesmoke;
    border-radius: 2px;
    width: 350px;
    height: 800px;
    padding: 2px;
    text-align: center;
}
img {
    margin: auto;
    display: block;
    width: 150px;
    height: 150px;
}
nav {
    font-size: large;
}
